{% block userSettings %}
    <style>
        .user-settings__container {
            display: flex;
            flex-direction: column;
            background-color: var(--story-background-color);
            padding: 10px;
            border-radius: 6px;
        }

        .user-settings__item {
            margin-bottom: 10px;
            padding-left: 10px;
            border-bottom: 1px solid #ddd;
        }
    </style>

    <div class="user-settings__container">
        <p>Настройки профиля</p>
        <div class="user-settings__item">
            <a href="/">Общее</a>
        </div>
        <div class="user-settings__item">
            <a href="/">Личная информация</a>
        </div>
        <div class="user-settings__item">
            <a href="/">Аватар</a>
        </div>
    </div>
{% endblock %}