{% block userNavbar %}
    <style>
        .main-navbar{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .main-navbar__item{
            margin-right: 10px;
        }
    </style>
    <div class="main-navbar">
        <div class="main-navbar__item">
            <a href="/">Категории</a>
        </div>
        <div class="main-navbar__item">
            <a href="/">Авторы</a>
        </div>
        <div class="main-navbar__item">
            <a href="/">Популярное</a>
        </div>
        <div class="main-navbar__item">
            <a href="/">Заявки</a>
        </div>
    </div>
{% endblock %}