body {
    background-color: var(--color-secondary);
    color: var(--font-color);
}

a {
    text-decoration: none;
    color: var(--as-link);
}

.table {
    color: var(--font-color)
}

.table-hover tbody tr:hover {
    color: var(--font-color-hover);
}

.select2-container {
    color: #0c0202;
}

body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    background: url("/public/images/bg-pattern.jpg") #27150e;
    min-width: 320px;
}

.container .container__inner {
    border-radius: 10px;
    padding: 15px 25px;
    background-blend-mode: luminosity;
    background: url("/public/images/1.jpg") var(--blend-mode);
    position: relative;
}

.book-stiches-horizontal::before, .book-stiches-horizontal::after {
    background-image: linear-gradient(
            90deg, #c69e6b50, #c69e6b50 70%, transparent 0, transparent);
    background-size: 7px 1px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}

.book-stiches-vertical::before {
    left: 5px;
}

.book-stiches-vertical::after {
    right: 5px;
}

.book-stiches-horizontal::before {
    top: 5px;
}

.book-stiches-horizontal::after {
    bottom: 5px;
}

.book-stiches-vertical::before, .book-stiches-vertical::after {
    background-image: linear-gradient(0, #c69e6b50, #c69e6b50 70%, transparent 0, transparent);
    background-size: 1px 7px;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 1px;
}

.book-corner-top::after {
    right: -2px;
    top: -2px;
    transform: scaleX(-1);
    background: url("/public/images/lt.png") no-repeat 0 0;
    background-size: cover;
    content: "";
    height: 63px;
    position: absolute;
    width: 62px;
}

.book-corner-top::before {
    left: -2px;
    top: -2px;
    background: url("/public/images/lt.png") no-repeat 0 0;
    background-size: cover;
    content: "";
    height: 63px;
    position: absolute;
    width: 62px;
}

.book-corner-bottom::after {
    bottom: -2px;
    right: -2px;
    transform: scale(-1);
    background: url("/public/images/lt.png") no-repeat 0 0;
    background-size: cover;
    content: "";
    height: 63px;
    position: absolute;
    width: 62px;
}

.book-corner-bottom::before {
    bottom: -2px;
    left: -2px;
    transform: scaleY(-1);
    background: url("/public/images/lt.png") no-repeat 0 0;
    background-size: cover;
    content: "";
    height: 63px;
    position: absolute;
    width: 62px;
}

.default-link-btn {
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.5;
    padding: 5px 10px;
    background-color: var(--btn-default-backgroundColor);
    border: 1px solid var(--btn-default-borderColor);
    color: var(--btn-default-color);
}

.default-link-btn:hover {
    text-decoration: underline;
    background-color: var(--btn-default-backgroundColor__hover);
    border: 1px solid var(--btn-default-borderColor__hover);
    color: var(--btn-default-color__hover);
}