body {
    background-color: var(--color-secondary);
    color: var(--font-color)
}
/** Navbar **/
.navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar-container_inner {
    display: flex;
}

.navbar-container_inner_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-container_inner_left .custom-switch {
    margin-left: 10px;
    margin-top: 6px;
}

.navbar-container_inner_home {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-45%, -50%);
}

.navbar-container_inner_home-text {
    font-size: 2.4rem
}

.switch-container{
    position: relative;
}
.switch {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 60px;
    height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0 15px #2020203d;
    background: white url('https://i.ibb.co/FxzBYR9/night.png') no-repeat center;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png') no-repeat center;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/** Navbar end **/
.table {
    color: var(--font-color)
}
.table-hover tbody tr:hover {
    color: var(--font-color-hover);
}

.select2-container{
    color: #0c0202;
}