.theme-light {
    --color-primary: #4f2d01;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --font-color: #4f2d01;
    --font-color-hover: #000;
    --as-link: #4f2d01;
    --as-link-hover: #ccc;
    --blend-mode: #442302;
    /**/
    --main-navbar__link: #4f2d01;
    --page__wrapper_background: #faf5ea;
    --disclamer-color: #c69e6b;
    --avatar-holder__link-color: #c69e6b;
    --dropdown-menu__link-color: #4f2d01;
    --dropdown-menu__background-color: #f6ecda;
    --btn-default-color: #4f2d01;
    --btn-default-color__hover: #4f2d01;
    --btn-default-borderColor: #4f2d01;
    --btn-default-borderColor__hover: #130b00;
    --btn-default-backgroundColor: #f6ecda;
    --btn-default-backgroundColor__hover: #ecd7b1;
    --main-app-title__color: #c69e6b;
    --part-list-background-color: #faf5ea;
    --part-list-background-color__hover: #e5dacc;
    --tag-default-backgroundColor: #ede0c9;
    --tag-default-color: #4f2d01;
    --tag-default-color__hover: #c69e6b;
    --tag-default-backgroundColor__hover: #ede0c9;
    --story-background-color: #f6ecda;

}

.theme-dark {
    --color-primary: #d8d4ca;
    --color-secondary: #243133;
    --color-accent: #12cdea;
    --font-color: #d8d4ca;
    --font-color-hover: #ccc;
    --as-link: #d8d4ca;
    --as-link-hover: #ccc;
    --blend-mode: #2d2d2f;
    /**/
    --main-navbar__link: #EDEDED;
    --page__wrapper_background: #2d2d2f;
    --disclamer-color: #c69e6b;
    --avatar-holder__link-color: #c69e6b;
    --dropdown-menu__link-color: #f6ecda;
    --dropdown-menu__background-color: #3e3e3f;
    --btn-default-color: #ededed;
    --btn-default-color__hover: #2d2d2f;
    --btn-default-borderColor: #ededed;
    --btn-default-borderColor__hover: #2d2d2f;
    --btn-default-backgroundColor: #2d2d2f;
    --btn-default-backgroundColor__hover: #ededed;
    --main-app-title__color: #D8D4CA;
    --part-list-background-color: #696969;
    --part-list-background-color__hover: #3e3e3f;
    --tag-default-backgroundColor: #696969;
    --tag-default-color: #d8d4ca;
    --tag-default-color__hover: #d8d4ca;
    --tag-default-backgroundColor__hover: #696969;
    --story-background-color: #3e3e3f;

}